<section>
    <div class="container">
        <h2>Properties for Rent</h2>
        <button class='btn' ng-click='RC.getRentData()'>Rentals</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="color1 col-sm-4"><strong>- Rent Price -</strong></div>
            <div class="color1 col-sm-4"><strong>- City -</strong></div>
            <div class="color1 col-sm-4"><strong>- Square Footage -</strong></div>
        </div>
        <div class="row" ng-repeat="eachRentalObj in RC.rentalObj.rentals">
            <div class="col-sm-4">{{ eachRentalObj.rent }}</div>
            <div class="col-sm-4">{{ eachRentalObj.city }}</div>
            <div class="col-sm-4">{{ eachRentalObj.sqft }}</div>
        </div>
    </div>
</section>